certifi==2022.12.7
chardet==3.0.4
click==6.7
click-plugins==1.0.3
colorama==0.3.9
dnspython==1.15.0
idna==2.5
IPy==0.83
netaddr==0.7.19
pathlib==1.0.1
requests==2.20.0
shodan==1.7.3
slacker==0.9.50
urllib3==1.21.1
XlsxWriter==0.9.8
